<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >调查结果（管理员可见）</div>
</ion-header-bar>
<ion-view>
    <ion-content>
    	 <div class="list card">
            <div class="item item-body">
                <div id="vertical" style="width:100%;height:220px"></div>                
                <div id="horizon" style="width:100%;height:220px"></div>
            </div>

            <a class="button button-dark" ng-click="next()" style="width:40%;margin-left:30%;margin-top:10px;margin-bottom:10px;" href="#tab/message">
                返回首页
            </a>
        </div>

    </ion-content>
</ion-view>
