<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >新规定</div>
    <div class="buttons">
        <a class="button login-register" ng-click="addcomment()">
            评论
        </a>
    </div>
</ion-header-bar>
<ion-view>
    <ion-content has-bouncing="true" overflow-scroll="false">
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/tmp.jpg">
                <h2 class="dm-nowrap-2">退役士兵每年补贴提至8000元</h2>
            </div>
            <div class="item item-body">
                <p class="dm-nowrap-2">发布方：国务院、中央军委</p>
                <p class="dm-nowrap-2" style="margin: 0px;">时间：周一上午2点（24号5月）发布</p>
            </div>
            <div class="item item-body">
                <h2 class="dm-nowrap-2" style="margin: 0px;">详情介绍：</h2>
                <p>根据国务院、中央军委批准的改革意见，总后勤部会同人力资源社会保障部、财政部、总参谋部、总政治部印发了《关于军人退役基本养老保险关系转移接续有关问题的通知》和《关于军人职业年金转移接续有关问题的通知》，对改革完善军人退役养老保险制度的管理模式、人员范围、计算标准、转移接续办法等做出了规定。明确从2014年10月1日起，军人退役参加基本养老保险的，在军人退役离开部队时，由军人所在单位财务部门一次性计算给予军人退役基本养老保险补助和军人职业年金补助，所需经费由中央财政承担。《通知》规定，军人退役参加企业职工或者城乡居民基本养老保险的，军人退役基本养老保险补助，按本人服役期间各年度月缴费工资和相应的标准计算；军人职业年金补助，按2014年10月1日以后本人服役期间各年度月缴费工资和相应的标准计算。军人退役参加机关事业单位养老保险的，军人退役基本养老保险补助和军人职业年金补助，按2014年10月1日以后本人服役期间各年度月缴费工资和相应的标准计算。《通知》规定，军人退役参加企业职工或者城乡居民基本养老保险的，由军人所在单位财务部门开具转移凭证交给本人，将军人退役基本养老保险补助资金通过银行划转至安置地社会保险经办机构，将军人职业年金补助交给本人。军人退役参加机关事业单位养老保险的，由军人所在单位财务部门开具转移凭证交给本人，将军人退役基本养老保险补助和军人职业年金补助资金通过银行划转至安置地社会保险经办机构。军人退役后，由安置单位或本人持军队开具的转移凭证，到安置地社会保险经办机构办理养老保险关系接续手续。</p>
            </div>
            <h3>&nbsp;&nbsp;评论：</h3>
            <div>
                <ul class="list">
                    <li style="padding: 0;margin-bottom: .5rem; margin-left:.5rem; position: relative;border-bottom: 1px solid lightgray;">
                        <img src="img/portrait.jpg" style="position: absolute;top: 0px;left: 0px; width: 32px;height: 32px;border-radius: 32px;">
                        <span style="line-height: 32px;left: 50px;top: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;匿名网友：太好了。这是全体官兵的福利啊。什么时候开始执行的？我们什么时候能享受到呢？这个时间点上？我是去年退伍的。</span>
                    </li>
                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>
